<nav class="navbar navbar-expand-lg navbar-yellow">
	<div class="col">
		<div class="row">
			<div class="col-2 text-center nav-link">
				<div class="col-12 h1">
					<i class="fas fa-mobile-alt"></i>
				</div>
				<div class="col-12">
					celular
				</div>
			</div>
			<div class="col-2 text-center nav-link">
				<div class="col-12 h1">
					<i class="fas fa-tv-alt"></i>
					TV
				</div>
				<div class="col-2 text-center nav-link">
					<div class="col-12 h1">
						<i class="fas fa-laptop-alt"></i>
						notbook
					</div>
					<div class="col-2 text-center nav-link">
						<div class="col-12 h1">
							<i class="fas fa-blender-alt"></i>
							eletrodom
						</div>
						<div class="col-2 text-center nav-link">
							<div class="col-12 h1">
								<i class="fas fa-car-alt"></i>
								auto peças
							</div>
							<div class="col-2 text-center nav-link">
								<div class="col-12 h1">
									<i class="fas fa-book-alt"></i>
									livros
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>